<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="sidebar">
  <h5 style="margin-top: 10px;margin-left: 30px;color: gray;">Category</h5>
  <h6 style="color: rgb(48, 240, 48);margin-top: 30px;margin-left: 20px;"><b>Electronics</b></h6>
    <ul>
      <li style="list-style: none;"><a href="#news">News</a></li>
      <li style="list-style: none;"><a href="#contact">Contact</a></li>
    </ul>
  
  <a style="margin-top: 30px;margin-left: 20px;" href="#about">Clothing</a>
  <a style="margin-top: 5px;margin-left: 20px;" href="#about">Home & appliances</a>
</div>

<div class="content">
<app-seller></app-seller>
</div>

</body>
</html>
